@import "node_modules/normalize.css/normalize";
@import "./variables.scss";

html,
body {
  height: 100%;
  background-color: $body-background-color;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

// Global
.app-gutter-spacing {
  padding: 0 24px;
}

//
// Router Transitions
//
.route-enter-active,
.route-leave-active {
  transition: opacity 0.15s $swift-ease-out-timing-function;
}

.route-enter,
.route-leave-to {
  opacity: 0;
}
