@import "node_modules/normalize.css/normalize";
@import "./variables.scss";

html,
body {
  height: 100%;
  background-color: $body-background-color;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

// Typography
$base-header-size: 2em;
$base-header-letter-spacing: 0.2em;
$base-header-margin: 0.8em;

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 200;
}

h1 {
  font-size: $base-header-size;
  letter-spacing: $base-header-letter-spacing;
  margin: $base-header-margin 0;
}

h2 {
  font-size: 0.9 * $base-header-size;
  letter-spacing: 0.9 * $base-header-letter-spacing;
  margin: 0.9 * $base-header-margin 0;
}

h3 {
  font-size: 0.8 * $base-header-size;
  letter-spacing: 0.8 * $base-header-letter-spacing;
  margin: 0.8 * $base-header-margin 0;
}

h4 {
  font-size: 0.7 * $base-header-size;
  letter-spacing: 0.7 * $base-header-letter-spacing;
  margin: 0.7 * $base-header-margin 0;
}

h5 {
  font-size: 0.6 * $base-header-size;
  letter-spacing: 0.6 * $base-header-letter-spacing;
  margin: 0.6 * $base-header-margin 0;
}

h6 {
  font-size: 0.5 * $base-header-size;
  letter-spacing: 0.5 * $base-header-letter-spacing;
  margin: 0.5 * $base-header-margin 0;
}

p {
  font-size: 1.1em;
  margin: 0 0 0.6em 0;
}

// Global
.app-gutter-spacing {
  padding: 0 24px 0 24px;
}

.app-header {
  background-color: $body-background-color-secondary;
  padding: 24px 0;
  margin-bottom: 24px;
  text-align: center;
}

.button--no-style {
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

$navigation-height: 160px; // Approximate

.navigation-gutter {
  margin-bottom: $navigation-height;
}

//
// Router Transitions
//
.route-enter-active,
.route-leave-active {
  transition: opacity 0.15s $swift-ease-out-timing-function;
}

.route-enter,
.route-leave-to {
  opacity: 0;
}

//
// Shared Transitions
//
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s $swift-ease-out-timing-function;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
